@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&family=Roboto:ital@0;1&display=swap');

/* This fills the space 'behind' your React app */
html, body {
  background-color: #f9fafb; /* Matches your light 'from' color */
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #0d1b2a; /* Matches your dark 'from' color */
    }
}



/* Header text font style */
.text-header {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* Main body text */
.text-body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}