/*Imported fonts*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Red+Hat+Display:wght@900&display=swap');

.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

/*Main body elements*/
header{
    text-align: center;
}

footer{
    text-align: center;
}

/*Intro button styling*/

#intro-btns{
    /*Flex elements*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*Padding for top and bottom of buttons*/
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Link button styling*/

#link-section{
    /*Flex elements*/
    display: flex;
    flex-direction: column;
    gap: 15px;
}