/*Imported fonts*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Red+Hat+Display:wght@900&display=swap');

.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

/*Main body elements*/
header{
    text-align: center;
    font-family: "Red Hat Display";
    color: white;
}

html, body {
    background: linear-gradient(#081d3c, #133566);
    height: 100%;  /* Ensure both html and body take the full viewport height */
}

footer{
    /* Position styling*/
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    /* Font style */
    font-family: "IBM Plex Sans";
    text-align: center;
}

/* Intro button styling */

#intro-btns{
    /* Flex elements */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* Padding for top and bottom of buttons */
    padding-top: 10px;
    padding-bottom: 30px;
}

.intro-btn{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 25px;
    /* Colouring */
    background-color: white;
    border: white;
}

/* Link button styling */

#link-section{
    /* Flex elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Link button style */
.link-btn {
    /* Flexbox elements */
    display: flex;  /* Makes the icon and text place horizontally */
    align-items: center;  /* Does the same as the comment but vertically */
    justify-content: center;  /* Ensures the content is centered horizontally */
    /* Button size stylings */
    height: 60px;
    width: 80%;
    border-radius: 20px;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    padding: 0 20px; /* Adds padding on the left and right */
    gap: 10px; /* Adds space between the icon and the text */
    /*Colouring*/
    background-color: white;
    border-color: white;
    border-style: none;
}

/* Icon styling */
.link-btn i {
    font-size: 25px; /* Sets the icon size */
}

/* Ensures the text is centered inside the button */
.link-btn span {
    display: flex;
    justify-content: center;  /* Ensures the text is horizontally centered */
    flex-grow: 1;  /* Ensures the text takes up the remaining space in the button */
}